:root {
  --background: #fafafa;
  --gray1: #333333;
  --gray2: #4f4f4f;
  --gray4: #bdbdbd;

  --black: #000000;
  --orange: #f2994a;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

.wrapper {
  width: 352px;
}

.header-content h1 {
  color: var(--black);
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 31.99px;
  margin: 32px 0px 12px 11px;
}

.header-content p {
  color: var(--gray2);
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  line-height: 15px;
  margin-left: 36px;
}

.header-content p::before {
  background-image: url("../image/6dots.svg");
  content: "";
  display: inline-block;
  height: 8px;
  left: 11px;
  position: absolute;
  top: 78px;
  width: 13px;
}

.header-content img {
  margin: 24px 0 24px 11px;
}

/* Aside */
.icon {
  position: relative;
}

.icon .material-icons-outlined {
  font-family: "Material Icons";
  display: inline;
  position: absolute;
  left: -20px;
}

.aside-content span {
  display: block;
}

.aside-serving {
  margin: 0 0 20.95px 32px;
}

.aside-serving .serving-description,
.aside-serving .material-icons-outlined {
  color: var(--orange);
}

.aside-time {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30.25px;
}

.serving-title {
  color: var(--gray4);
  font-size: 8px;
  font-weight: bold;
  line-height: 10px;
  text-transform: uppercase;
}

.serving-title:last-child {
  border: 1px solid red;
}

.serving-description {
  color: var(--gray1);
  font-size: 10px;
  font-weight: 500;
  line-height: 12.19px;
}

/* --------main------ */
.section-ingredient h2 {
  color: var(--gray1);
  font-family: "Playfair Display", serif;
  font-size: 18px;
  line-height: 24px;
  margin-left: 12px;
  margin-bottom: 13px;
}

.title-recipe {
}

.title-recipe h3 {
  color: var(--gray1);
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 21.33px;
  margin: 13px 0 24px 13px;
}

.description-recipe {
  position: relative;
}

.description-recipe p {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  margin: 0 12px 14px 43px;
}

.black {
  font-weight: bold;
}

.cursive {
  font-style: italic;
  font-weight: 500;
}

.square {
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 4px;
  display: block;
  height: 21px;
  left: 13px;
  position: absolute;
  width: 21px;
}
